
@{
    ViewBag.Title = "ChengePassword";
}


    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i></a></li>
        <li><a href="/Account/Index">Account</a></li>
        <li><a href="Javascript:void(0)">Change Password</a></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-9">
            <form action="/Account/ChangePassword" method="post" enctype="multipart/form-data" class="form-horizontal">
                <fieldset>
                    <legend>Your Password</legend>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-password">Password</label>
                        <div class="col-sm-10">
                            <input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control" />
                            @*@Html.PasswordFor(x => x.Password, new { @minlength = "6", @maxlength = "10", @class = "form-control" })*@
                        </div>
                        @*<p class="text-danger" style="padding-left:162px;">@Html.ValidationMessageFor(x => x.Password)</p>*@
                    </div>
                    <div class="form-group required">
                        <label class="col-sm-2 control-label" for="input-confirm">Password Confirm</label>
                        <div class="col-sm-10">
                            <input type="password" name="conformPassword" value="" placeholder="Password Confirm" id="input-confirm" class="form-control" />
                            @*@Html.PasswordFor(x => x.ConformPassword, new { @minlength = "6", @maxlength = "10", @class = "form-control" })*@
                        </div>
                        @*<p class="text-danger" id="email" style="padding-left:162px;">@Html.ValidationMessageFor(x => x.ConformPassword) </p>*@
                    </div>
                </fieldset>
                <div class="buttons clearfix">
                    <div class="pull-left"><a href="/Account/Index" class="btn btn-default">Back</a></div>
                    <div class="pull-right">
                        <input value="Continue" class="btn btn-primary" type="submit">
                    </div>
                </div>
            </form>
        </div>
        @*<column id="column-right" class="col-sm-3 hidden-xs">
            <div class="list-group">
                <a href="http://plankter.co.inaccount/account" class="list-group-item">My Account</a>
                <a href="http://plankter.co.inaccount/edit" class="list-group-item">Edit Account</a> <a href="http://plankter.co.inaccount/password" class="list-group-item">Password</a>
                <a href="http://plankter.co.inaccount/address" class="list-group-item">Address Books</a> <a href="http://plankter.co.inaccount/wishlist" class="list-group-item">Wish List</a> <a href="http://plankter.co.inaccount/order" class="list-group-item">Order History</a> <a href="http://plankter.co.inaccount/download" class="list-group-item">Downloads</a> <a href="http://plankter.co.inaccount/reward" class="list-group-item">Reward Points</a> <a href="http://plankter.co.inaccount/return" class="list-group-item">Returns</a> <a href="http://plankter.co.inaccount/transaction" class="list-group-item">Transactions</a> <a href="http://plankter.co.inaccount/newsletter" class="list-group-item">Newsletter</a><a href="http://plankter.co.inaccount/recurring" class="list-group-item">Recurring payments</a>
                <a href="http://plankter.co.inaccount/logout" class="list-group-item">Logout</a>
            </div>
        </column>*@
    </div>
