
@{
    ViewBag.Title = "EmptyProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <ul class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Shopping Cart</a></li>
    </ul>
    <div class="row">
        <div id="content" class="col-sm-12">
            <h1>Shopping Cart</h1>
            <p>Your shopping cart is empty!</p>
            <div class="buttons">
                <div class="pull-right"><a href="/Home/Index" class="btn btn-primary">Continue</a></div>
            </div>
        </div>
    </div>
